/* common css start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css end */

body{
    background-color: antiquewhite;
}

main{
    width: 50%;
    padding: 20px 0;
    margin: 0 auto;
    padding-top: 64px;
}

h1{
    text-align: center;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 700;
}
.input_field{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 12px;
    align-content: center;
}

.input_field input{
    width: 232px;
    padding: 8px 5px;
}

.input_field input::placeholder{
    font-size: 1rem;
    
}

.input_field button{
    background-color: coral;
    font-size: 1.3rem;
    color: aliceblue;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.input_field button:hover{
    background-color: chocolate;
}

main p {
    margin-top: 42px;
    text-align: center;
    background-color: whitesmoke;
    color: blue;
    padding: 20px 0;
    box-shadow: 1px 3px 10px 3px gray;
    border-radius: 10px;
    word-wrap:break-word ;

}